.wrapper {
    max-width: 1440px;
    width: 90%;
	margin: 0 auto;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
}
html {
	font-size: 62.5%;
}
body {
	//background-image: linear-gradient(to right, rgba(246, 244, 244, 0), rgb(253, 219, 219));
	background-color: $bodyBackgroundColor;
	font-family: $baseFont;
	font-size: 2rem;
	color: #333;
	line-height: 29px;
	letter-spacing: 0.3px;
	font-weight:$fontWeightRegular;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
p,
h1,
h2,
h3,
label,
ul {
	margin: 0;
}
.gameDescriptionSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1 {
	text-align: center;
	padding: 40px 0;
	margin-top: 35px;
	//font-family:$secondaryFont;
	font-size: 7rem;
	font-weight:$fontWeightBold;
	//text-shadow: 2px 2px goldenrod;
}
.gameRules {
	width: 50%;
	padding-top: 30px;
}
h2 {
	padding:20px 0;
}
h3 {
	padding: 20px 0;
	margin-left: -40px;
}
ul {
	list-style-type: square;
}
button {
	@include buttons;
	&:hover {
		transition: 0.5s;
		@include buttonHover;
	}
}
.allQuestions, 
.button {
    display: none;
}
form p {
	margin-bottom: 10px;
	font-size: 2.5rem;
}
fieldset {
	border: none;
	padding-top: 30px;
}
label {
	display: block;
	margin-left: 30px;
}
input[type=radio] {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	opacity: 2;
	position: relative;
	top: 25px;
}
.submitForm {
	padding-top: 100px;
	text-align: center;
}
input[type=submit] {
	@include buttons;
	&:hover {
		transition: 0.5s;
		@include buttonHover;
	}
}
.giftShopSection {
	display: flex;
	padding-top: 60px;
}
.supriseGift {
	margin-right: 30px;
}
.selectedGift {
	margin: 0 auto;
	width: 400px;
	margin-top: 30px;
}
.videoContainer {
	position: relative;
	width: 400px;
	height: 300px;
	margin: 0 auto;
	video {
		width:100%;
		p {
			padding-bottom: 30px;
		}
	}
}
.nonDisplay {
	display: none;
}