@mixin left-bottom-box-shadow() {
    box-shadow: 15px 15px  $bright-yellow-color;
    box-shadow: -15px 15px  $bright-yellow-color;
}
@mixin right-bottom-text-shadow() {
    box-shadow: 15px 15px $bright-yellow-color;
}
@mixin input-form() {
    background-color:$ice-color;
    border: none;
    border-bottom: 2px solid $evergreen-color;
    width: 300px;
    padding: 30px 20px;
    margin: 0px 40px;
    
}
@mixin secondary-links() {
    cursor: pointer;
    padding: 10px 15px;
    // background: #333;
    color: $bodyBackgroundColor;
    font-family: $baseFont;
    font-size: 2rem;
    font-weight: $secondaryFont;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    border: none;
    display: inline-block;
    width: 230px;
    position: relative;
    background: darkgrey;
    border: none;
    color:$bodyBackgroundColor ;
    padding: 15px 24px;
    box-shadow: -6px 6px 0 hsl(0, 11%, 85%);
    outline: none;
    
    
}