
@mixin buttons() {
    cursor: pointer;
    padding: 10px 15px;
    color: $bodyBackgroundColor;
    font-family: $baseFont;
    font-size: 2rem;
    font-weight: $fontWeightBold;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    border: none;
    display: inline-block;
    width: 230px;
    position: relative;
    background-image: linear-gradient(to right, rgba(158, 131, 12, 2), rgb(54, 48, 9));
    border: none;
    padding: 15px 24px;
    border-radius: 6px;
    outline: none;
    margin: 20px 0;
}
@mixin buttonHover {
    background-image: linear-gradient(to right, rgb(241, 201, 22), rgb(54, 48, 8));
}