// Colors:
$bodyBackgroundColor:#F5F5F5;
$hardRedColor: #500801;
$goldenColor:goldenrod;
$darkBrownColor:#1D0303;
//fonts
$baseFont:'Roboto', sans-serif;
$secondaryFont:'Petit Formal Script', cursive;
// font-weight
$fontWeightRegular:400;
$fontWeightBold:700;